.Menu {
  display: inline-block;
  border-bottom: 3px solid yellow;
  border-top: 3px solid gray;
  width: 50%;

  font-size: 20px;
  text-align: center;
  padding: 10px;
border-radius:50px 0px 50px 0px;
  margin: 50px 0px 50px 0px;
  background-color:deepskyblue;

}
.Menu a {

  background-color: peru;
  text-decoration: none;
  border: 1px solid gray;
  padding: 5px;
  color: black;
  cursor:pointer;
}
.Menu a:hover {
background-color:forestgreen;
  border: 1px solid black;
  color: black;
  transition: 1s;
}
.boton,
.boton-ok,
.boton-no {
  background-color: #7499d7;
  border: 1px solid #3363b2;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.boton-ok {
  background-color: darkgreen;
  border-color: #165c16;
}
.boton-no {
  background-color: #bb6565;
  border-color: #813939;
}
.boton-ok:hover {
  background-color: darkred;
  box-shadow: 0px 0px 8px #0c330c;
  transition: 0.5s;
  color: black;
}
.boton-no:hover {
  background-color: darkred;
  box-shadow: 0px 0px 8px #5e2929;
  transition: 0.5s;
  color: black;
}
.boton:hover {
  background-color :darkred;
  box-shadow: 0px 0px 8px #284d8a;
  transition: 0.5s;
  color: black;
}
.caja,
.caja-error {
  border: 0.5px solid lightgray;
  background-color: white;
  box-shadow: 0px 0px 10px #ffffff;
  margin: 3px;
  padding: 5px;
  font-size: 16px;
  border-radius: 6px;
}
.caja:focus {
  outline: none;
  box-shadow: 0px 0px 10px skyblue;
}
.caja-error {
  border: 0.5px solid #d44018;
  box-shadow: 0px 0px 10px #ee8264;
}

body {

  background-color:beige;
  margin: 80px;
  /*text-emphasis-position: center;*/
  /*background-repeat:no-repeat;*/
  padding: 0px;
/*/  box-sizing: border-box;*/
  background-image: url("1.png");
  font-size: center;
  text-align: center;
  font-family: monospace;
background-repeat: no-repeat;*/
}
h2{
text-shadow: 0px 0px 10px yellow;
}

.div,h3,h1{
  color:brown;
  text-align: center;
text-shadow: 0px 0px 10px yellow;
font-weight:normal;
  /*cursor: pointer;*/
}
.Ajuste{
  border:4px solid chartreuse;
box-shadow:0px 0px 10px chartreuse;*/
background-color:mediumseagreen;*/

  margin-right: 5%;
}

.info {
  display: none;
  border: 1px solid black;
  margin: 50px;
  padding: 20px;
  background-color: #a4baf2;
  font-size: 16px;
  font-weight: bold;
}
label {
  font-weight: bold;
  font-size: 30px;

}
.contenedor-none,
.contenedor {
  margin: 5%;
  padding: 2%;
}
.contenedor, {
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 10px gray;
}
table {
  border-collapse: collapse;
}
table * {
  border: 1px solid black;
}
table > thead > tr {
  background-color:burlywood;
  color: black;
  font-weight: 800;
  font-size: 30px;
}
table > tbody > tr:nth-child(even) {
  background-color: lightgray;
}
table > tbody > tr:hover {
  background-color: darkblue;
  color: black;
  cursor: pointer;
}
